/.project
/.settings
/target
/pom.xml.releaseBackup
/*.iml
/.idea
/.DS_Store
.idea
/log
/vpaas-lc/vpaas-lc-server/vpaas-lc-server-start/dependency-reduced-pom.xml
*.iml
/vpaas-monitor/dependency-reduced-pom.xml
/vpaas-demos/vpaas-lc-client-benchmark/dependency-reduced-pom.xml
