body {
    font-size: 12px;
}

th {
    color: #FFFFFF;
    background: #A172AC;
}

.normal.button {
    background-color: #fff;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}

table tbody tr.odd,
.odd {
    background: #F7F2E0;
}

table tbody tr.even,
.even {
    background: #F6CEE3;
}

.odd:hover,
.even:hover,
.hover {
    background: #FA5858;
    color: #FFFFFF;
}